<!DOCTYPE html>
<html >
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/listas.css' %}">
    </head>
    <body class="back">
        <h1>Boletos Comprados</h1>
        <table >
            <thead >
                <th></th>
                <th>Titulo</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Numero de Boletos</th>
                <th>Precio</th>
                <th>NIT</th>
                <th>Direccion</th>
                
            </thead>
            <tbody>
                {% for h in historial%}
                <tr>
                    <td><img src="{{ h.Imagen }} " width="100"></td>
                    <td>{{ h.Pelicula }}</td>
                    <td>{{ h.Fecha }}</td>
                    <td>{{ h.Hora }}</td>
                    <td>{{ h.NumBoletos }}</td>
                    <td>{{ h.MontoPago }}</td>
                    <td>{{ h.NIT }}</td>
                    <td>{{ h.Dirección }}</td>
                    <td><a href="{% url 'elimina' forloop.counter0 %}">Cancelar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'administrador'%}" class="button type3">Regresar</a>
    </body>
</html>