<!DOCTYPE html>
<html>
    <head>Actualizar Usuario</head>
    <body>
        <h1>Actualizar Usuario</h1>

        <form method="post"></form>
            {% csrf_token %}
            <label for="rol">Rol</label>
            <input type="text" name="rol" value="{{usuario.rol}}" required>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" value="{{usuario.nombre}}" required>
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" value="{{usuario.apellido}}" required>
            <label for="telefono">Telefono</label>
            <input type="text" name="telefono" value="{{usuario.telefono}}" required>
            <label for="correo">Correo</label>
            <input type="text" name="correo" value="{{usuario.correo}}" required>
            <label for="contrasena">Contrasena</label>
            <input type="text" name="contrasena" value="{{usuario.contrasena}}" required>

            <button type="submit">Actualizar</button>
    </body>
</html>