<!DOCTYPE html>
<html >
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/listaPelis.css' %}" >
        <title class="Titulo">Gestion Peliculas</title>
        
    </head>
    <body class="back">
        <form method="POST" action="{% url 'cargaXML' %}">
            {% csrf_token %}
            
        </form>
        <a href="{% url 'crearPelicula' %}" class="button type3">Crear Pelicula</a>
        
        <h1>Lista Peliculas</h1>
        <table >
            <thead >
                <th>Categoria</th>
                <th>Titulo</th>
                <th>Director</th>
                <th>Anio</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Imagen</th>
                <th>Precio</th>
                
            </thead>
            <tbody>
                {% for peli in peliculas%}
                <tr>
                    <td>{{ peli.categoria }}</td>
                    <td>{{ peli.titulo }}</td>
                    <td>{{ peli.director }}</td>
                    <td>{{ peli.anio }}</td>
                    <td>{{ peli.fecha }}</td>
                    <td>{{ peli.hora }}</td>
                    <td><img src="{{ peli.imagen }} " width="100"></td>
                    <td>{{ peli.precio }}</td>
                    <td>
                        <a href="{% url 'actualizarPeli' peli.titulo %}" class="button type3">Actualizar</a>
                        <a href="{% url 'eliminarPeli' peli.titulo %}" class="button type3">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>