.all{
    background: linear-gradient(to bottom, #1e175a, #0c0088, #1e1e2b);
}
.header{
    background-color: grey;
    color: white;
}
h2{
    color: white;
}

.headre .navLinks{
    list-style: none;
}
.header .navLinks li{
    display:  inline-block;
    padding: 0 20px;
}
.header .navLinks a{
    font-size: 700;
    color: white;
    text-decoration: none;
}
.header .navLinks li a:hover{
    color: chocolate;
}
