<!DOCTYPE html>
<html class="all">
<head>
    <h2>Bienvenido </h2>
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/PrincipalCliente.css' %}" >
</head>
<body>
    
    
    <header class="header">
        <nav class="menu">
            <ul class="navLinks" style="display: flex;">
                <li>
                    <select id="ver" onchange="mostrarVentana()">
                        <option value="general">General</option>
                        <option value="categoria">Categoría</option>
                    </select>
                </li>
                <li><a href="#">Favoritos</a></li>
                <li><a href="#">Historial</a></li>
            </ul>
        </nav>
    </header>

    <div id="miVentana" class="ventana-emergente" style="display: none;">
        <form id="myForm" method="POST" action="{% url 'cargalistaCliente' %}">
            {% csrf_token %}
            <button id="submitButton" type="submit">Mostrar</button>
        </form>
        <table >
            <thead >
                <th></th>
                <th>Categoria</th>
                <th>Titulo</th>
                
                <th>Fecha</th>
                <th>Hora</th>
                
                <th>Precio</th>
                <tbody>
                    {% for p in peli %}
                    <tr>
                        <td><img src="{{ p.imagen }}" width="100"></td>
                        <td>{{ p.categoria }}</td>
                        <td>{{ p.titulo }}</td>
                        <td>{{ p.fecha }}</td>
                        <td>{{ p.hora }}</td>
                        <td>{{ p.precio }}</td>
                        <td><a href="#" class="Estrella"><span style="color: gold;">&#9733;</span></a></td>
                        <td><a href="{% url 'compraBoleto' p.titulo %}">Comprar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </thead>
        </table>
    
    </div>

    <div id="categoria" class="ventana-emergente" style="display: none;">
        {% for p in peli %}
        <td>{{ p.categoria }}</td>
        {% endfor %}

    </div>

    <div id="Favoritos" class="Favoritos"></div>


    <script>
        
        function mostrarVentana() {
    var selectElement = document.getElementById("ver");
    var divMiVentana = document.getElementById("miVentana");
    var divCategoria = document.getElementById("categoria")

    if (selectElement.value === "general") {
        divCategoria.style.display="block";
        divMiVentana.style.display = "";
        
    }
     if(selectElement.value === "categoria"){
        
        divMiVentana.style.display = "block";
        divCategoria.innerHTML = "";
     }else {
        divMiVentana.style.display = "none";
    }
}

</script>
</body>
</html>