<!DOCTYPE html>
<html class="all">
<head>
    <h1>Bienvenido </h1>
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/cliente.css' %}" >
</head>
<body class="back">
    <header class="header">
        <nav class="menu">
            <ul class="navLinks" style="display: flex;">
                <li>
                    <select id="ver" onchange="mostrarVentana()" class="button type3">
                        <option value="general">Categoria</option>
                        <option value="categoria">General</option>
                    </select>
                </li>
                <li><a href="#" class="button type3">Favoritos</a></li>
                <li><a href="{% url 'historial' %}" class="button type3">Historial</a></li>
                <li><a href="{% url 'default' %}" class="button type3">SALIR</a></li>
            </ul>
        </nav>
    </header>

    <div id="miVentana" class="ventana-emergente" style="display: none;">
        <form id="myForm" method="POST" action="{% url 'cargalistaCliente' %}">
            {% csrf_token %}
            <button id="submitButton" type="submit" class="button type3">Mostrar</button>
        </form>
        <table >
            <thead >
                <th></th>
                <th>Titulo</th>
                
                <th>Fecha</th>
                <th>Hora</th>
                
                <th>Precio</th>
                <tbody>
                    {% for p in peli %}
                    <tr>
                        <td><img src="{{ p.imagen }}" width="100"></td>
                        <td>{{ p.titulo }}</td>
                        <td>{{ p.fecha }}</td>
                        <td>{{ p.hora }}</td>
                        <td>{{ p.precio }}</td>
                        <td><a href="#" class="Estrella"><span style="color: gold;">&#9733;</span></a></td>
                        <td><a href="{% url 'compraBoleto' p.titulo %}" class="button type3">Comprar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </thead>
        </table>
    
    </div>

    <div id="categoria" class="ventana-emergente" style="display: none;">
        {% csrf_token %}
        <select id="porCate" name="categoria" class="button type3" onchange="mostrarPorCategoria()" >
            {% for p in peli %}
            <option value="accion">{{ p.categoria }}</option>
            {% endfor %}
            <div id="tablaCat"></div>
        </select>
        
        
    </div>

    <div id="Favoritos" class="Favoritos"></div>


    <script>
        
        function mostrarVentana() {
    var selectElement = document.getElementById("ver");
    var divMiVentana = document.getElementById("miVentana");
    var divCategoria = document.getElementById("categoria");
     if(selectElement.value === "categoria"){
        
        divMiVentana.style.display = "block";

     }else  {
        divMiVentana.style.display = "none";
    }

    if(selectElement.value === "general"){
        
        divCategoria.style.display = "block";

     }else  {
        divCategoria.style.display = "none";
    }

}
function mostrarPorCategoria() {
      var formaPago = document.getElementById("porCate").value;
      var opcionesPagoDiv = document.getElementById("tablaCat");

      if (formaPago === "accion" ) {
        opcionesPagoDiv.innerHTML = `
        <table >
            <thead >
                <th></th>
                <th>Titulo</th>
                
                <th>Fecha</th>
                <th>Hora</th>
                
                <th>Precio</th>
                <tbody>
                    {% for p in peli %}
                    <tr>
                        <td><img src="{{ p.imagen }}" width="100"></td>
                        <td>{{ p.titulo }}</td>
                        <td>{{ p.fecha }}</td>
                        <td>{{ p.hora }}</td>
                        <td>{{ p.precio }}</td>
                        <td><a href="#" class="Estrella"><span style="color: gold;">&#9733;</span></a></td>
                        <td><a href="{% url 'compraBoleto' p.titulo %}" class="button type3">Comprar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </thead>
        </table>
        `;
      } else {
        opcionesPagoDiv.innerHTML = "";
      }
    }



</script>
</body>
</html>