<!DOCTYPE html>
<html class="all">
<head>
    <h2>Bienvenido </h2>
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/cliente.css' %}" >
</head>
<body>
    <form method="POST" action="{% url 'cargalistaCliente' %}">
        {% csrf_token %}
        <button  type="submit"  >Cargar XML</button>
    
    </form>
    <header class="header">
        <nav class="menu">
            <ul class = "navLinks">
            <li><a onclick="mostrarVentana()">listado Peliculas</a></li>
            <li><a href="#" >Favoritos</a></li>
            <li><a href="#">Historial</a></li>
            </ul>
        </nav>
    </header>

    <div id="miVentana" class="ventana-emergente" style="display: none;">
        
        <table >
            <thead >
                <th></th>
                <th>Categoria</th>
                <th>Titulo</th>
                
                <th>Fecha</th>
                <th>Hora</th>
                
                <th>Precio</th>
                <tbody>
                    {% for p in peli %}
                    <tr data-id="{{ p.titulo }}">
                        <td><img src="{{ p.imagen }}" width="100"></td>
                        <td>{{ p.categoria }}</td>
                        <td>{{ p.titulo }}</td>
                        <td>{{ p.fecha }}</td>
                        <td>{{ p.hora }}</td>
                        <td>{{ p.precio }}</td>
                        <td><a href="#" class="Estrella" onclick="agregarFavorito('{{ p.titulo }}')"><span style="color: gold;">&#9733;</span></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>

        <button onclick="ocultarVentana()">Cerrar</button>
    
    </div>

    <div id="Favoritos" class="Favoritos"></div>


    <script>
        function mostrarVentana() {
          document.getElementById('miVentana').style.display = 'block';
        }
        function ocultarVentana() {
          document.getElementById('miVentana').style.display = 'none';
        }
      
        function agregarFavorito(titulo) {
        // Buscar la fila correspondiente al título de la película
        var fila = document.querySelector('tr[data-id="' + titulo + '"]');
        
        // Obtener los datos de la fila seleccionada
        var categoria = fila.cells[1].textContent;
        var fecha = fila.cells[3].textContent;
        var hora = fila.cells[4].textContent;
        var precio = fila.cells[5].textContent;
        
        // Crear un objeto con los datos
        var favorito = {
            'titulo': titulo,
            'categoria': categoria,
            'fecha': fecha,
            'hora': hora,
            'precio': precio
        };
        
        // Agregar el objeto a la lista favs
        viws.favs.push(favorito);
        
        console.log(view.favs); // Mostrar la lista favs en la consola (para verificar)
    }
      </script>
</body>
</html>