<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div>
    <form method="post">
      {% csrf_token %}
      <label for="numBoletos">numBoletos:</label>
      <input type="number" name="numBoletos" required><br><br>
      
      <label for="salaElegida">Sala:</label>
      <select name="salaElegida" required>
        {% for sala, asientos in salas_disponibles.items %}
          <option value="{{ sala }}">Sala {{ sala }} (Asientos disponibles: {{ asientos }})</option>
        {% endfor %}
      </select><br><br>

      <label for="formaPago">Forma de Pago</label>
      <select id="formaPago" name="formaPago" required onchange="mostrarOpcionesPago()">
        <option value="tarjetaCredito">Tarjeta de Crédito</option>
        <option value="tarjetaDebito">Tarjeta de Débito</option>
        <option value="efectivo">Efectivo</option>
      </select><br><br>
      
      <div id="opcionesPago"></div>

      <label for="nit">nit:</label>
      <input type="number" name="nit" required><br><br>

      <label for="direccion">direccion:</label>
      <input type="text" name="direccion" required><br><br>
      
      <button type="submit">Login</button>
    </form>
  </div>

  <script>
    function mostrarOpcionesPago() {
      var formaPago = document.getElementById("formaPago").value;
      var opcionesPagoDiv = document.getElementById("opcionesPago");

      if (formaPago === "tarjetaCredito" || formaPago === "tarjetaDebito") {
        opcionesPagoDiv.innerHTML = `
          <label for="numero">Número:</label>
          <input type="text" name="numero" required><br><br>

          <label for="titular">Titular:</label>
          <input type="text" name="titular" required><br><br>

          <label for="fechaExpiracion">Fecha de Expiración:</label>
          <input type="text" name="fechaExpiracion" required><br><br>
        `;
      } else {
        opcionesPagoDiv.innerHTML = "";
      }
    }
  </script>
</body>
</html>
