<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/registro.css' %}" >    
    </head>
    <body class="content">
        

        <form method="post">
            {% csrf_token %}
            <label>REGISTRATE!</label>
            <label for="nombre">Nombre</label>
            <input type="text" name ="nombre" required>
            <label for="apellido">Apellido</label>
            <input type="text" name ="apellido" required>
            <label for="telefono">Telefono</label>
            <input type="number" name ="telefono" required>
            <label for="correo">Correo</label>
            <input type="text" name ="correo" required>
            <label for="contrasena">Contrasena</label>
            <input type="text" name ="contrasena" required>

            <button type="submit">Registrar</button>
        </form>
    </body>
</html>