<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/actualizar.css' %}" >
    </head>
    <body class="back">
        <h1>Actualizar Sala</h1>

        <form method="post">
            {% csrf_token %}
            <label for="cine">Cine</label>
            <input type="text" name="cine" value="{{sala.cine}}" required>
            <label for="numero">Numero</label>
            <input type="text" name="numero" value="{{sala.numero}}" required>
            <label for="asientos">Asientos</label>
            <input type="text" name="asientos" value="{{sala.asientos}}" required>
            
            <button type="submit" class="button type3">Actualizar</button>
        </form>
    </body>
</html>