<!DOCTYPE html>
<html>
    <head>Crear usuario</head>
    <body>
        <h1>Crear Usuario</h1>

        <form method="post">
            {% csrf_token %}
            <label for="cine">Cine</label>
            <input type="text" name ="cine" required>
            <label for="numero">Numero</label>
            <input type="text" name ="numero" required>
            <label for="asientos">Asientos</label>
            <input type="number" name ="asientos" required>

            <button type="submit">Guardar</button>
        </form>
    </body>
</html>